<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
        <h2>All Blogs</h2>

        <% if(blogs.length > 0){ %>
            <% blogs.forEach(blog => { %>
                <a class="single" href="/blogs/<%= blog._id %>">
                <h3 class="title"><%= blog.title %> </h3>
                <p class="snipped"><%= blog.snipped %></p>
                <% }) %>
            </a>

        
        <% } else{%>
                <p>there are not blogs display....</p>
            <% } %>


    </div>
    <%- include('./partials/foot.ejs') %>

</body>
</html>